/**
 * @author    BOX http://box.agency
 * @contact   admin@box.agency
 */

@import "../../../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "../../../bower_components/font-awesome/scss/font-awesome.scss";

/* ==========================================================================
   Base Styles
   ==========================================================================
*/

@import 'base';


/* ==========================================================================
   Additonal Styles
   ==========================================================================
*/

/**
 * Helper Variables & Functions
 */

$font: "Philosopher", Helvetica, Arial, sans-serif;
$red: #ed1d24;
$green: #62bb46;

body {
  font: 1.4em/1.4 $font;
  color: #106939;
  -webkit-font-smoothing: antialiased;
  word-wrap: break-word;
}
.hide {
  display: none !important;
}
.show {
  display: block !important;
}

/* ==========================================================================
   Layout Styles
   ========================================================================== */

.conteneurIframe{
  width: 300px;
  height: 600px;
  margin: 0 auto;
  position: relative;
  iframe{
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }
}
.montantEmp{
  font-weight: bold !important;
}
.duree{
  font-weight: bold !important;
}
.step1{
  background-image: url("../images/step1.png");
  background-color: white;
  background-size: cover;
  background-position: top left;
  background-repeat: no-repeat no-repeat;
  width: 300px;
  height: 600px;
  position: relative;
  .logo{
    display: flex;
    img{
      margin: auto;
    }
  }
  .title{
    padding-top: 44px;
    padding-bottom: 20px;
    text-align: center;
    h3 {
      display: block;
      font-size: 17px;
      color: white;
      text-align: center;
      margin: 10px auto 5px;
    }
  }
  .financement{
    text-align: center;
    .selectbox{
      display:inline-block;
      position:relative;
      vertical-align: middle;
      cursor: pointer;
      select{
        background: #ffffff url('../images/bg-arrow.jpg') right 0 no-repeat;
        color: #333;
        padding: 3px 10px;
        cursor: pointer;
        width: 200px;
        margin: 0;
        border: 2px solid #58B157;
        border-radius: 6px;
        appearance: none;
        outline: none;
      }
    }
    h4{
      display: block;
      font-size: 11px;
      color: #106939;
      text-align: center;
      margin-bottom: 5px;
    }
  }
  .prix{
    text-align: center;
    margin: 25px 0 0 5px;
    img{
      float: left;
    }
    h4{
      margin: 6px 15px 0 3px;
      float: left;
      font-size: 11px;
      color: #106939;
    }
    input{
      float: left;
      padding: 3px 10px;
      border-radius: 6px;
      border: 2px solid #58B157;
      width: 118px;
      outline: none;
    }
    .dt{
      color: white;
      font-size: 18px;
      font-weight: bold;
      border-radius: 0 6px 6px 0;
      background-color: #58B157;
      padding: 8px 10px 7px;
      margin-top: 0px;
      margin-left: -10px;
    }
  }

  .age{
    text-align: center;
    margin: 15px 0 0 5px;
    font-size: 8px;
    img{
      float: left;
    }
    h4{
      margin: 6px 10px 0 3px;
      float: left;
      font-size: 11px;
      color: #106939;
    }
    span{
      color: white;
      float: left;
      padding: 2px 8px 2px 5px;
      border-radius: 3px;
      position: relative;
      background-color: #58B157;
      margin: 1px;
    }
  }
  .puissance{
    text-align: center;
    margin: 15px 0 0 5px;
    font-size: 8px;
    img{
      float: left;
    }
    h4{
      margin: 6px 5px 0 3px;
      float: left;
      font-size: 11px;
      color: #106939;
    }
    span{
      color: white;
      float: left;
      font-size: 6px;
      padding: 2px 4px 2px 4px;
      border-radius: 3px;
      position: relative;
      background-color: #58B157;
      margin: 1px;
    }
  }

  .duree{
    text-align: center;
    margin: 15px 0 0 5px;
    img{
      float: left;
    }
    h4{
      margin: 6px 10px 0 3px;
      float: left;
      font-size: 11px;
      color: #106939;
    }
  }

  .autofinancement{
    text-align: center;
    margin: 10px 0 0 5px;
    img{
      float: left;
    }
    h4{
      margin: 6px 15px 0 3px;
      float: left;
      font-size: 11px;
      color: #106939;
    }
    input{
      float: left;
      padding: 3px 10px;
      border-radius: 6px;
      border: 2px solid #58B157;
      width: 118px;
      outline: none;
    }
    .dt{
      color: white;
      font-size: 18px;
      font-weight: bold;
      border-radius: 0 6px 6px 0;
      background-color: #58B157;
      padding: 8px 10px 7px;
      margin-top: 0px;
      margin-left: -10px;
    }
  }
}

.mensualiteClass{
  background-color: #44AB4B;
  width: 237px;
  height: 40px;
  margin: 35px;
  border-radius: 5px;
  text-align: center;
  h3{
    font-size: 14px;
    font-weight: normal;
    padding-top: 7px;
    color: #106939;

    i{
      font-size: 12px;
      font-weight: normal;
      color: white;
    }
    span{
      color: white;
      font-size: 24px;
    }
  }
}

.text{
  /*margin-left: 40px;*/
  margin-top: -20px;
  text-align: center;
  h4{
    line-height: 10px;
    font-size: 14px;
    color: #106939;
    font-weight: lighter;
    span {
      font-weight: bold !important;
    }
  }
}

.btn-block{
  text-align: center;
  margin-top: 15px;
  .btn_calc{
    text-align: center;
    color: #44AB4B;
    background-color: white;
    border-radius: 5px;
    padding: 7px 40px;
    border: 0;
    font-weight: bold;
    font-size: 17px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.5);
    &:hover{
      background-color: #44AB4B;
      color: white;
    }
  }
}
.step2 {
  background-image: url("../images/step2.png");
  background-color: white;
  background-size: cover;
  background-position: top left;
  background-repeat: no-repeat no-repeat;
  width: 300px;
  height: 600px;
  position: relative;
  //overflow: hidden;
  .logo {
    display: flex;
    padding-top: 22px;
    img {
      margin: auto;
    }
  }
  .title {
    padding-top: 57px;
    //position: absolute;
    text-align: center;
    margin: 0 40px;
    h4 {
      display: block;
      font-weight: normal !important;
      font-size: 18px;
      color: #106939;
      text-align: center;
      margin: 0 auto;
    }
    .line {
      display: block;
      width: 60px;
      height: 5px;
      color: #58B157;
      background-color: #58B157;
      margin: 0 auto;
      text-align: center;
    }
  }
  .name {
    text-align: center;
    margin: 25px 0 0 20px;
    img {
      float: left;
    }
    h4 {
      margin: 6px 29px 0 3px;
      float: left;
      font-size: 11px;
      color: #106939;
    }
    input {
      float: left;
      width: 168px;
      height: 26px;
    }
  }
  .surname {
    text-align: center;
    margin: 20px 0 0 20px;
    img {
      float: left;
    }
    h4 {
      margin: 6px 16px 0 3px;
      float: left;
      font-size: 11px;
      color: #106939;
    }
    input {
      float: left;
      width: 168px;
      height: 26px;
    }
  }
  .email {
    text-align: center;
    margin: 20px 0 0 20px;
    img {
      float: left;
    }
    h4 {
      margin: 3px 25px 0 3px;
      float: left;
      font-size: 11px;
      color: #106939;
    }
    input {
      float: left;
      width: 168px;
      height: 26px;
    }
  }
  .telephone {
    text-align: center;
    margin: 20px 0 0 20px;
    img {
      float: left;
    }
    h4 {
      margin: 3px 5px 0 3px;
      float: left;
      font-size: 11px;
      color: #106939;
    }
    input {
      float: left;
      width: 168px;
      height: 26px;
    }
  }
  .divBTN{
    text-align: center;
    margin-top: 15px;
    .validate-btn {
      text-align: center;
      color: white;
      background-color: #106939;
      border-radius: 5px;
      padding: 6px 40px;
      border: 0;
      margin-top: 10px;
      &:hover{
        background-color: #44AB4B;
      }
    }
  }
}

.step3{
  background-image: url("../images/step2.png");
  background-color: white;
  background-size: cover;
  background-position: top left;
  background-repeat: no-repeat no-repeat;
  width: 300px;
  height: 600px;
  position: relative;
  //overflow: hidden;
  .logo {
    display: flex;
    padding-top: 22px;
    img {
      margin: auto;
    }
  }
  .title {
    padding-top: 107px;
    //position: absolute;
    text-align: center;
    margin: 0 40px;

    .message-merci{
      font-size: 17px !important;
    }
    .message-contact{
      font-size: 14px !important;
    }

    h3 {
      display: block;
      font-weight: bold;
      font-size: 18px;
      color: #106939;
      text-align: center;
      margin: 0 auto;
    }
    h5 {
      display: block;
      font-size: 10px;
      color: #106939;
      text-align: center;
      margin: 10px auto;
    }
    .line {
      display: block;
      width: 60px;
      height: 5px;
      color: #58B157;
      background-color: #58B157;
      margin: 30px auto 60px auto;
      text-align: center;
    }
  }
  .divBTN{
    text-align: center;
    margin-top: 15px;
    margin-bottom: 140px;
    .return-btn {
      text-align: center;
      color: white;
      background-color: #106939;
      border-radius: 5px;
      padding: 4px 30px;
      border: 0;
    }
  }
}

input{
  float: left;
  border: 2px solid #58B157;
  width: 118px;
}
input[type=radio].css-checkbox {
  position:absolute;
  z-index:-1000;
  left:-1000px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height:1px;
  width:1px;
  margin:-1px;
  padding:0;
  border:0;
}
input[type=radio].css-checkbox + label.css-label {
  padding-left:13px;
  height:8px;
  font-size: 9px;
  display:inline-block;
  line-height:10px;
  margin-top: 3px;
  background-repeat: no-repeat;
  background-position: 0 0;
  vertical-align:middle;
  cursor:pointer;
}
input[type=radio].css-checkbox:checked + label.css-label {
  background-position: 0 -8px;
}
label.css-label {
  background-image:url('../images/radio_btn.png');
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/*  =============================================================

Bootstrap Slider CSS
   =========================================================== */
.slider {
  display: inline-block;
  vertical-align: middle;
  position: relative;
}
.slider.slider-horizontal {
  width: 180px;
  height: 12px;
}
.slider.slider-horizontal .slider-track {
  height: 10px;
  width: 100%;
  margin-top: -5px;
  top: 50%;
  left: 0;
}
.slider.slider-horizontal .slider-selection,
.slider.slider-horizontal .slider-track-low,
.slider.slider-horizontal .slider-track-high {
  height: 100%;
  top: 0;
  bottom: 0;
}
.slider.slider-horizontal .slider-tick,
.slider.slider-horizontal .slider-handle {
  margin-left: -10px;
  margin-top: -5px;
}
.slider.slider-horizontal .slider-tick.triangle,
.slider.slider-horizontal .slider-handle.triangle {
  border-width: 0 10px 10px 10px;
  width: 0;
  height: 0;
  //border-bottom-color: #0480be;
  margin-top: 0;
}
.slider.slider-horizontal .slider-tick-label-container {
  white-space: nowrap;
  margin-top: 15px;
}
.slider.slider-horizontal .slider-tick-label-container .slider-tick-label {
  padding-top: 4px;
  display: inline-block;
  text-align: center;
}
.slider.slider-vertical {
  height: 210px;
  width: 20px;
}
.slider.slider-vertical .slider-track {
  width: 10px;
  height: 100%;
  margin-left: -5px;
  left: 50%;
  top: 0;
}
.slider.slider-vertical .slider-selection {
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
}
.slider.slider-vertical .slider-track-low,
.slider.slider-vertical .slider-track-high {
  width: 100%;
  left: 0;
  right: 0;
}
.slider.slider-vertical .slider-tick,
.slider.slider-vertical .slider-handle {
  margin-left: -5px;
  margin-top: -10px;
}
.slider.slider-vertical .slider-tick.triangle,
.slider.slider-vertical .slider-handle.triangle {
  border-width: 10px 0 10px 10px;
  width: 1px;
  height: 1px;
  //border-left-color: #0480be;
  margin-left: 0;
}
.slider.slider-vertical .slider-tick-label-container {
  white-space: nowrap;
}
.slider.slider-vertical .slider-tick-label-container .slider-tick-label {
  padding-left: 4px;
}
.slider.slider-disabled .slider-handle {
  //background-image: -webkit-linear-gradient(top, #dfdfdf 0%, #bebebe 100%);
  //background-image: -o-linear-gradient(top, #dfdfdf 0%, #bebebe 100%);
  //background-image: linear-gradient(to bottom, #dfdfdf 0%, #bebebe 100%);
  //background-repeat: repeat-x;
  //filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdfdfdf', endColorstr='#ffbebebe', GradientType=0);
  background-color: #58B157;
  color:#58B157;
}
.slider.slider-disabled .slider-track {
  //background-image: -webkit-linear-gradient(top, #e5e5e5 0%, #e9e9e9 100%);
  //background-image: -o-linear-gradient(top, #e5e5e5 0%, #e9e9e9 100%);
  //background-image: linear-gradient(to bottom, #e5e5e5 0%, #e9e9e9 100%);
  //background-repeat: repeat-x;
  //filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe5e5e5', endColorstr='#ffe9e9e9', GradientType=0);
  background-color: #99D0A6;
  color:#58B157;
  cursor: not-allowed;
}
.slider input {
  display: none;
}
.slider .tooltip.top {
  margin-top: -36px;
  color: white;
  .tooltip-inner{
    background-color: #086b39;
  }
  .tooltip-arrow{
    border-top-color: #086b39;
  }
}
.slider .tooltip-inner {
  white-space: nowrap;
  max-width: none;
}
.slider .hide {
  display: none;
}
.slider-track {
  position: absolute;
  cursor: pointer;
  //background-image: -webkit-linear-gradient(top, #f5f5f5 0%, #f9f9f9 100%);
  //background-image: -o-linear-gradient(top, #f5f5f5 0%, #f9f9f9 100%);
  //background-image: linear-gradient(to bottom, #f5f5f5 0%, #f9f9f9 100%);
  //background-repeat: repeat-x;
  background-color: #99D0A6;
  color:#58B157;
  //filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#fff9f9f9', GradientType=0);
  //-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  //box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}
.slider-selection {
  position: absolute;
  //background-image: -webkit-linear-gradient(top, #f9f9f9 0%, #f5f5f5 100%);
  //background-image: -o-linear-gradient(top, #f9f9f9 0%, #f5f5f5 100%);
  //background-image: linear-gradient(to bottom, #f9f9f9 0%, #f5f5f5 100%);
  //background-repeat: repeat-x;
  //filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff9f9f9', endColorstr='#fff5f5f5', GradientType=0);
  //-webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  //box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: #106939;
  color: #106939;
}
.slider-selection.tick-slider-selection {
  background-color: #58B157;
  color:#58B157;
}
.slider-track-low,
.slider-track-high {
  position: absolute;
  background: transparent;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 4px;
}
.slider-handle {
  position: absolute;
  width: 25px;
  height: 25px;
  border: 2px solid white;
  box-shadow: 0 1px 3px rgba(0,0,0,0.8);
  margin-top: -8px !important;
  margin-left: -12px !important;
  //background-color: #337ab7;
  //background-image: -webkit-linear-gradient(top, #149bdf 0%, #0480be 100%);
  //background-image: -o-linear-gradient(top, #149bdf 0%, #0480be 100%);
  //background-image: linear-gradient(to bottom, #149bdf 0%, #0480be 100%);
  //background-repeat: repeat-x;
  //filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff149bdf', endColorstr='#ff0480be', GradientType=0);
  //filter: none;
  //-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
  //box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
  //border: 0px solid transparent;
  background-color: #499448;
  color:#58B157;
}
.slider-handle.round {
  border-radius: 50%;
}
.slider-handle.triangle {
  background: transparent none;
}
.slider-handle.custom {
  background: transparent none;
}
.slider-handle.custom::before {
  line-height: 20px;
  font-size: 20px;
  content: '\2605';
  color: #726204;
}
.slider-tick {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #99D0A6;
  color:#58B157;
}
.slider-tick.round {
  border-radius: 50%;
}
.slider-tick.triangle {
  background: transparent none;
}
.slider-tick.custom {
  background: transparent none;
}
.slider-tick.custom::before {
  line-height: 20px;
  font-size: 20px;
  content: '\2605';
  color: #726204;
}
.slider-tick.in-selection {
  background-color: #58B157;
}
h4{
  font-size: 13px !important;
  font-weight: bold;
  letter-spacing: -0.5px;
}

.footer-wrapper{
  position: absolute;
  bottom: 15px;
  width: 100%;
}
.step3 .footer-wrapper{
  bottom: 51px;
}
.parsley-error{
  border: 2px solid #C13838  !important;
}
.step2 input[type='text']{
  float: right;
  padding: 0px 10px;
  border-radius: 6px;
  border: 2px solid #58B157;
  outline: none;
  margin-right: 38px;
  height: 30px;
  width: 150px;
}
.logo img{
  margin-top: 13px !important;
  margin-bottom: -12px !important;
}

.parsley-errors-list{
  list-style: none;
  padding: 0;
  margin: 0;
  li{
    font-size: 10px;
  }
}
#myForm{
  overflow: hidden;
}